<%-
  require 'json'
  
  # 1. Load the JSON file
  base_json_path = Pathname.new(__dir__).join("form_attributes/base_options.json")
  advanced_json_path = Pathname.new(__dir__).join("form_attributes/advanced_options.json")
  preprocessors_json_path = Pathname.new(__dir__).join("scripts/preprocessors.json")
  
  # Default to empty if file is missing (error handling)
  if File.exist?(base_json_path)
    base_options_data = JSON.parse(File.read(base_json_path))
  else
    base_options_data = {}
  end
  
  if File.exist?(advanced_json_path)
    advanced_options_data = JSON.parse(File.read(advanced_json_path))
  else
    advanced_options_data = {}
  end

  if File.exist?(preprocessors_json_path)
    preprocessor_options = JSON.parse(File.read(preprocessors_json_path))
  else
    preprocessor_options = {}
  end

  # 2. Prepare the IDs for JavaScript
  # OOD prefixes all attributes with this string
  prefix = "batch_connect_session_context_"
  
  # create a list
  base_ids = base_options_data.keys.map { |k| "#{prefix}#{k}" }
  advanced_ids = advanced_options_data.keys.map { |k| "#{prefix}#{k}" }
-%>

<div id="base-metadata" data-ids='<%= base_ids.to_json %>'></div>
<div id="advanced-metadata" data-ids='<%= advanced_ids.to_json %>'></div>

# Batch Connect app configuration file

---

# **MUST** set cluster id here that matches cluster configuration file located
# under /etc/ood/config/clusters.d/*.yml
# @example Use the Owens cluster at Ohio Supercomputer Center
#     cluster: "owens"
cluster: "winter2"

attributes:
  modules: "apptainer"

  partition:
    label: "Partition"
      "widget": "select"
      "options":
        - ["compute"]

  custom_qos:
    label: "QOS",
    widget: "select"
      "options":
        - ["batch", data-exclusive-option-for-queue-compute: true]
        # - ['test', data-exclusive-option-for-queue-rit-test: true]
    help: "Currently, image registration jobs are limited to the compute partition and batch QOS."

  # # The Toggle Switch
  # show_advanced:
  #   widget: check_box
  #   label: "Show Advanced Options"
  #   value: 0

  # 4. Programmatically Generate Base Attributes from JSON
  <%- base_options_data.each do |key, props| -%>
  <%= key %>:
    widget: "<%= props['widget'] %>"
    label: "<%= props['label'] %>"
    <%- if props.key?('value') -%>
    value: <%= props['value'] %>
    <%- end -%>
    <%- if props.key?('min') -%>
    min: <%= props['min'] %>
    <%- end -%>
    <%- if props.key?('max') -%>
    max: <%= props['max'] %>
    <%- end -%>
    <%- if props.key?('step') -%>
    step: <%= props['step'] %>
    <%- end -%>
    <%- if props.key?('options') -%>
    options: <%= props['options'] %>
    <%- end -%>
    <%- if props.key?('show_hidden') -%>
    show_hidden: <%= props['show_hidden'] %>
    <%- end -%>
    <%- if props.key?('show_files') -%>
    show_files: <%= props['show_files'] %>
    <%- end -%>
    <%- if props.key?('help') -%>
    help: <%= props['help'] %>
    <%- end -%>
  <%- end -%>

  # reference_preprocessor:
  #   widget: "select"
  #   label: "Reference image preprocessor"
  #   options: <%= preprocessor_options %>
